In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
college_crimes = pd.read_csv("https://raw.githubusercontent.com/LorenzoPizza/CollegeCrimes2019/main/project_dataset.csv")
college_crimes.ffill(axis = 0)

,State,University/College,Campus,Student\r\nenrollment1,Violent\r\ncrime,Murder and\r\nnonnegligent\r\nmanslaughter,Rape2,Robbery,Aggravated\r\nassault,Property\r\ncrime,Burglary,Larceny-\r\ntheft,Motor\r\nvehicle\r\ntheft,Arson3
0,ALASKA,University of Alaska:,Anchorage,"24,144",1,0,0,0,1,70.0,3,62.0,5,0.0
1,ALASKA,University of Alaska:,Fairbanks,"12,738",3,0,3,0,0,43.0,3,34.0,6,0.0
2,ARIZONA,Arizona State University,Main Campus,"127,582",49,0,21,5,23,739.0,56,667.0,16,1.0
3,ARIZONA,Arizona Western College,Main Campus,"11,492",0,0,0,0,0,11.0,0,11.0,0,0.0
4,ARIZONA,Central Arizona College,Main Campus,"8,086",0,0,0,0,0,17.0,2,15.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,WISCONSIN,University of Wisconsin:,River Falls,"6,798",1,0,0,0,1,36.0,2,34.0,0,0.0
564,WISCONSIN,University of Wisconsin:,Stevens Point,"9,144",1,0,1,0,0,54.0,1,53.0,0,0.0
565,WISCONSIN,University of Wisconsin:,Superior,"3,168",0,0,0,0,0,16.0,0,16.0,0,0.0
566,WISCONSIN,University of Wisconsin:,Whitewater,"14,196",0,0,0,0,0,31.0,0,31.0,0,0.0
567,WYOMING,University of Wyoming,Whitewater,"13,963",3,0,0,0,3,77.0,2,74.0,1,0.0